{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Edit Profile</title>
{% endblock title %}

{% block content %}
<div class="container h-100">
    <div class="d-flex justify-content-center">
      <div class="card shadow-2-strong" style="border-radius: 1rem;">
        <div class="card-body p-5">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Profile Info</legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
